<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
		<property name="pageSqlId" value=".*Page$" />
	</properties>
	
	<settings>
		<!-- 启用下划线与驼峰式命名规则的映射 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<package name="com.yy.tourweb.web.dto" />
	</typeAliases>

	<!-- 分页模块plugin -->
	<plugins>
		<plugin
			interceptor="com.yy.tourweb.web.dao.interceptor.PaginationInterceptor" />
	</plugins>
</configuration>	
