<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%X{sessionId}][%X{traceId}][%X{cip}:%X{cPort}][%X{sip}:%X{sPort}][][%X{userId}][%t|%logger{1.}||%X{ctime}] - %msg%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="${sys:catalina.home}logs/iposH5.log"
			filePattern="${sys:catalina.home}/logs/iposH5.log.%d{yyyy-MM-dd}">
			<PatternLayout>
				<Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%X{sessionId}][%X{traceId}][%X{cip}:%X{cPort}][%X{sip}:%X{sPort}][][%X{userId}][%t|%logger{1.}||%X{ctime}] - %msg%n
				</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="512 MB"/>
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>
	</appenders>

	<loggers>

		<logger name="com.yy.tourweb" level="debug" additivity="false">
			<appender-ref ref="RollingFile" />
			<appender-ref ref="Console" />
		</logger>

		<root level="info">
			<appender-ref ref="RollingFile" />
			<appender-ref ref="Console" />
		</root>
	</loggers>

</configuration>