.tour_faqs_ul {
  padding: 1rem 0 1rem 0;
  border-top: 1px solid #e44e47;
  border-bottom: 1px solid #e44e47;
}
.tour_faqs_ul li {
  line-height: 2rem;
  position:relative;
}
.tour_faqs_linklist {
  padding: 1rem 0;
  border-bottom: 1px solid #e44e47;
  position:relative;
}
.backclass{
	position:absolute;
	bottom:10px;
	right:10px;
	color:#9b9b9b;
}
.link_top{
	position:absolute;
	left:0;
	top:-4.4rem;
}
.tour_faqs_linklist_title {
  font-size: 1.2rem;
  color: #e44e47;
}
.tour_faqs_linklist_h1 {
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  color: #4A4A4A;
}
.tour_faqs_linklist_circle {
  width: 0.6rem;
  height: 0.6rem;
  vertical-align: 0.1rem;
  border-radius: 0.3rem;
  display: inline-block;
  background: #d8d8d8;
}
.tour_faqs_linklist_circle_top {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.3rem;
  display: inline-block;
  background: #e44e47;
  margin-right:0.5rem;
}
.tour_faqs_linklist_text {
  font-size: 0.8rem;
  color: #4A4A4A;
  width:70%;
}

.payCopy_top_ul{
	display: inline-block;
	vertical-align:1rem;
}
