.tour_step {
  max-width: 1100px;
  margin: auto;
}
.tour_step_bg {
	margin:0 2%;
  background: #fff;
  position:relative;
  top:-70px;
  z-index: 8;
}
.tour_step_box {
  padding: 0 3% 3% 5%;
}
.tour_step_list {
  width: 23%;
  margin-right: 2%;
  margin-bottom: 2rem;
  display: inline-block;
  vertical-align: top;
  position: relative;
  white-space: normal;
  color: #A8223C;
  font-size: 1rem;
}
.br_show {
  display: none;
}
.br_show_all {
  display: none;
}
.tour_step_list_text {
  width: 100%;
  color: #4A4A4A;
}
.tour_step_list_top {
  text-align: center;
  padding: 0.5rem 0 1rem;
}
.tour_step_list_icon {
  width: 3rem;
  height: 3rem;
  display: block;
  margin: auto;
}
.tour_step_list_icon_for {
  position: absolute;
  left: 70%;
  width: 70%;
  top: 1.1rem;
}
.tour_step_list_text {
  font-size: 0.9rem;
  word-break: break-all;
}
.homepic_img_w{
	width:100%;
	position:absolute;
	left:50%;
	top:50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
@media screen and (max-width: 1200px) {
	.tour_step_bg {
	  top:-60px;
	}
	.homepic_box{
		top:-120px;
	}
}
@media screen and (max-width: 1000px) {
	.tour_step_bg {
	  top:-50px;
	}
	.homepic_box{
		top:-100px;
	}
}
@media screen and (max-width: 800px) {
  .tour_step_list {
    width: 47%;
    margin-right: 3%;
  }
  .br_show {
    display: block;
  }
  .tour_step_list_icon_for_hidden {
    display: none;
  }
	.tour_step_bg {
	  top:-40px;
	}
	.homepic_box{
		top:-80px;
	}
}
@media screen and (max-width: 600px) {
	.tour_step_bg {
	  top:-20px;
	}
	.homepic_box{
		top:-40px;
	}
}
