.tour_top {
  height: 4.4rem;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background:#000000;
}
.heihei {
  position: fixed;
  top:0;
  left:0;
  right:0;
	background:#fff;
	z-index:10;
}
.tour_top_black{
	background:#000 !important;
}
.tour_top_ul li{
	display: inline-block;
}
.tour_top_hide {
  display: block;
}
.tour_top_padding {
  height: 100%;
  width: 6.5885798%;
}
.top_icon{
	position:absolute;
	left:-1.3rem;
	height:1.1rem;
	width:1.1rem;
	border-radius: 0.55rem;
	top:1.6rem;
	background:#e44e47;
}
.footicon{
	height:1.1rem;
	width:1.1rem;
	border-radius: 0.55rem;
	background:#e44e47;
	display: inline-block;
	vertical-align:-0.2rem;
	margin-right:0.2rem;
}
.tour_top_left {
  line-height: 4.4rem;
  font-size: 1rem;
  position:relative;
  float: left;
}
.tour_top_right {
  line-height: 2.2rem;
  position: relative;
  top: 1.1rem;
  font-size: 0.8rem;
  float: right;
}
.tour_top_ul a {
  display: inline-block;
  margin-left: 2rem;
  color: #fff;
}
.tour_top_ul_hover {
  border-bottom: 1px solid #e44e47;
  color: #e44e47 !important;
}
@media screen and (max-width: 800px) {
  .tour_top_left {
    font-size: 0.9rem;
  }
  .tour_top_right {
    font-size: 0.7rem;
  }
  .tour_top_ul a {
    margin-left: 1rem;
  }
}
@media screen and (max-width: 600px) {
	.tour_top{
		background:#000000 !important;
    height: 60px;
	}
	.tour_top_ul li{
		display: block;
	}
  .tour_top_click {
    width: 24px;
    height: 24px;
    margin: 18px 0;
    float: right;
    background: url(../icon/menu.png) no-repeat 0 0;
    background-size: 100% 100%;
  }
  .tour_top_right {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    line-height: 40px;
  }
  .tour_top_left {
    font-size: 14px;
    line-height: 60px;
  }
  .tour_top_ul {
    font-size: 18px;
    display: none;
  }
  .tour_top_ul a {
    margin-left: 0;
    padding-left: 6.5885798%;
    display: block;
    background: #000;
    border-top: 1px solid #fff;
    font-size: 12px;
  }
  .tour_top_ul .tour_top_ul_hover {
    background: #e44e47;
    color: #fff !important;
  }
  .tour_top_hide {
    display: block;
  }
}
